<header>
    <h2> мастер вкуса</h2>
    <nav>
        <a href="/" >главная</a>
        <a href="/about" >о нас</a>
        <a href="/menu">меню </a>
        <a href="/galary" >галерея</a>
        <a href="/contact" >контакты</a>
    </nav>
</header>