/*body {
    font-family: 'Lato', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #D5D5D5;
    font-size: 16px;
}

header, footer {
    background-color: #755A57;
    color: #D5D5D5;
    padding: 1rem;
    display: flex;
    justify-content: stretch;
}
h1, h2{
    font-size: 20px;
}
h3{
    font-size: 18px;
}
a:active{
    text-decoration: underline !important;
}
a{
    color: #D5D5D5;
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: stretch;
    width: 100%;
}
*/
body {
    font-family: 'Lato', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
    font-size: 16px;
    color: #333;
}

/* Стили для header */
header {
    background-color: #755A57;
    color: #ECF0F1; 
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

h2 {
    font-size: 24px;
    margin: 0;
    font-weight: 700;
}

nav {
    display: flex;
    gap: 1.5rem; 
}

nav a {
    color: #ECF0F1;
    text-decoration: none;
    font-weight: 500;
    padding: 0.5rem 1rem;
    transition: color 0.3s, background-color 0.3s; 
    border-radius: 5px;
}

nav a:hover {
    color: #755A57; 
    background-color: #ECF0F1; 
}

h1, h2 {
    font-size: 24px;
    font-weight: 700;
}

h3 {
    font-size: 20px;
    font-weight: 600;
}

a:active {
    text-decoration: underline;
}

footer {
    background-color: #755A57;
    color: #ECF0F1;
    padding: 1.5rem 2rem;
    text-align: center;
    font-size: 14px;
}
